<style media="screen">
  form input {
    line-height: 3rem;
    text-align: center;
  }
  img.icon {
    width: auto;
    max-height: 2rem;
  }
  img.banner {
    max-height: 15rem;
  }
  .banner-text img {
    max-height: 4rem;
  }
  .font-special {
    font-family: 'Staatliches', cursive;
  }
  .d-flex-nowrap {
    flex-wrap: nowrap;
  }
  button.devour {
    background: transparent;
  }

  @media (max-width: 575.98px) {
    .blue-burger-bottom {
      border-bottom-left-radius: 0rem !important;
    }
    .red-burger-bottom {
      border-bottom-left-radius: 3rem 2rem;
    }
  }

  .blue-burger-bottom {
    border-bottom-left-radius: 3rem 2rem;
  }

  .red-burger-bottom {
    border-bottom-right-radius: 3rem 2rem;
  }

  .my-rounded-top {
    border-top-left-radius: 3rem 2rem;
    border-top-right-radius: 3rem 2rem;
  }

  .position-relative .fa-github {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
</style>

<div class="container bg-warning my-rounded-top mt-2">
  <div class="row position-relative">
    <div class="mx-auto col-auto text-center">
      <img class="banner" src="/assets/images/Gene_Belcher.png">
      <div class="banner-text font-special">
        <h1>Eat at <img src="/assets/images/bobsburgers.png" alt="Bob's Burgers!"></h1>
      </div>
    </div>
    <a href="https://github.com/NiRuaG/EatAtBobsBurgers"><i class="text-dark fab fa-github fa-lg"></i></a>
  </div>

  <div class="row justify-content-center bg-success py-1">
    <div class="col">
      <form id="order_form" class="row justify-content-center">
        <input id="order_input" type="text" class="col-sm-6"></input>
        <button type="submit" class="btn btn-success col-12 col-sm-auto offset-sm-1"><i class="fas fa-plus-circle"></i> Order</button>
      </form>
    </div>
  </div>

  <div class="row bg-dark justify-content-between">

      <div class="col-12 d-block col-sm bg-primary blue-burger-bottom pt-2">
        <div class="row justify-content-center d-flex-nowrap">
          <img class="col-auto icon" src="/assets/images/ordered.png">
          <h4 class="col-auto text-center font-special">
            Ordered
          </h4>
          <img class="col-auto icon" src="/assets/images/ordered.png">
        </div>
    
        <ul class="px-3">
          {{#each ordered}}
          <li class="row justify-content-center">
            <p class="col col-md-9 col-lg-6 align-self-center mb-0">{{id}}. <i>{{burger_name}}</i></p>
            <button class="btn col-auto devour" data-id="{{id}}">
              <img class="icon" src="/assets/images/eatburger2.png" alt="Devour!">
            </button>
          </li>
          {{else}}
          <p>(None) Try adding an Order!</p>
          {{/each}}
        </ul>
      </div>

    <div class="col-12 d-block col-sm bg-danger pt-2 red-burger-bottom">
      <div class="row justify-content-center d-flex-nowrap">
        <img class="col-auto icon" src="/assets/images/devoured.png">
        <h4 class="col-auto text-center font-special">
          Devoured
        </h4>
        <img class="col-auto icon" src="/assets/images/devoured.png">
      </div>
      
      <ul class="px-3">
        {{#each devoured}}
          <li class="row justify-content-center">
            <p class="col align-self-center mb-0">{{id}}. <i>{{burger_name}}</i></p>
          </li>
        {{else}}
          <p>(None) Eat a juicy Burger!</p>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<script src="/assets/js/index.js"></script>