<style media="screen">
  form input {
    line-height: 3rem;
    text-align: center;
  }

</style>

<div class="container bg-red">
  <div class="row bg-orange">
    <div class="mx-auto col-auto text-center bg-yellow">
      <img src="http://fillmurray.com/200/200">
      <p>Eat at Bob's Burgers!</p>
    </div>
  </div>
  <div class="row justify-content-center bg-green">
    <div class="col bg-blue">
      <form class="row justify-content-center bg-indigo">
        <input type="text" class="col-md-6"></input>
        <button type="submit" class="btn btn-danger col-auto">Order</button>
      </form>
    </div>
  </div>

  <div class="row justify-content-between bg-violet">
    <div class="col bg-bluvlt">
      <h4 class="text-center">Ordered</h4>
      <ul>
        {{#each ordered}}
          <li>
            <p>{{id}} <i>{{burger_name}}</i></p>
          </li>
        {{else}}
          <p>(None) Try adding an Order!</p>
        {{/each}}
      </ul>
    </div>
    <div class="col bg-orgred">
      <h4 class="text-center">Devoured</h4>
      <ul>
        {{#each devoured}}
          <li>
            <p>{{id}} <i>{{burger_name}}</i></p>
          </li>
        {{else}}
          <p>(None) Eat a juicy Burger!</p>
        {{/each}}
      </ul>
    </div>
  </div>
</div>